<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidex.indoorlock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AndroidexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="name">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/MyTheme.NoTitleBar.CustomBackground1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="rtc.sdk.impl.SdkService">
            <intent-filter>
                <action android:name="rtc.sdk.service" />
            </intent-filter>
        </service>

        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />

        <service android:name=".service.AndroidexService" />

        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.TelephoneActivity" />
        <activity android:name=".ui.activity.HelpActivity" />
        <activity android:name=".ui.activity.CouponActivity" />
        <activity android:name=".ui.activity.UpdateActivity" />
        <activity android:name=".ui.activity.HouseActivity" />
        <activity android:name=".ui.activity.DoorLockActivity" />
        <activity android:name=".ui.activity.TempKeyActivity" />
        <activity android:name=".ui.activity.CreateTempKeyActivity" />
        <activity android:name=".ui.activity.AccessActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.HouseDetailsActivity" />
        <activity android:name=".ui.activity.ApplyHouseActivity" />
        <activity android:name=".ui.activity.CarDetailsActivity" />
        <activity android:name=".ui.activity.CarApplyActivity" />
        <activity android:name=".ui.activity.AdviceActivity" />
        <activity android:name=".ui.activity.AdviceDetailsActivity" />
        <activity android:name=".ui.activity.ContactPropertyActivity" />
        <activity android:name=".ui.activity.TroubleActivity" />
        <activity android:name=".ui.activity.TroubleDetailsActivity" />
        <activity android:name=".ui.activity.TroubleCreateActivity" />
        <activity android:name=".ui.activity.BillActivity" />

        <receiver android:name="eu.chainfire.supersu.NativeAccessReceiver">

            <!-- 安装广播 -->
            <intent-filter>
                <data android:scheme="package" />

                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>

            <!-- 开机广播 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>